[submodule "harsha.ca/themes/hello-friend-ng"]
	path = harsha.ca/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "public"]
	path = public
	url = https://github.com/asystemsguy/asystemsguy.github.io
[submodule "public/asystemsguy.github.io"]
	path = public/asystemsguy.github.io
	url = https://github.com/asystemsguy/asystemsguy.github.io
